@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300&display=swap');

/*-------------[도서목록]-------------*/

/*--검색창--*/
.start{
	text-align:center;
	margin:50px 0;
}
.form-select{
	margin:5px 10px 0;
	padding:.375rem 2.25rem .375rem 2rem;
}

/*--카테고리--*/
.list-group{
	width:150px;
	float:left;
	text-align:center;
	margin-top:30px;
}
.list-group .active{
	background-color:grey;
	border:none;
}

/*--목록--*/
.book-list{
	list-style:none;
	float:right;
	width:80%;
	margin-top:30px;
}
.list-photo{ /*썸네일 사진*/
	float:left;
	margin:30px 50px;
}
.list-thumbnail{ /*썸네일 사진*/
	box-shadow:5px 5px 13px #808080;
}
.list-text{ /*도서 정보글*/
	margin-top:30px;
}
.list-text li{
	margin:5px 60px;
}
.list-title{ /*도서 정보글 - 제목*/
	font-weight:bold;
	font-size:14pt;
}
.list-author-publisher{ /*도서 정보글 - 작가|출판사*/
	color:grey;
	font-size:10pt;
	margin-top:10px;
}
.list-price{ /*도서 정보글 - 가격*/
	color:rgb(56, 76, 255);
}
.list-content{ /*도서 정보글 - 책소개*/
	width:60%;
	margin-top:50px;
	text-overflow:ellipsis;  
	overflow:hidden;
	display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}



/*-------------[도서상세]-------------*/
.detail{
	margin:0 auto;
	width:80%;
}
#output_mark{
	cursor:pointer;
}

/* 댓글 */
div#review_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	/*background-color:rgb(250,250,210);*/
}
form#review_form{
	width:100%;
	border:none;
	margin-bottom:20px;
}
span.review-title{
	font-size:12pt;
	line-height:200%;
	margin:20px;
}
textarea.form-control{
	text-align:center;
	margin:10px 10px;
}
.user-photo{
	float:left;
	width:60px;
}
.re-content{
	float:left;
}
.submit-button{
	float:right;
}
span.review-letter-count{
	font-size:10pt;
	color:#999999;
	clear:both;
	text-align:right;
}
textarea.form-control{
	width:500px;
	height:50px;
	margin:10px 10px;
}
.review-button{
	text-align:right;
}
.bi-hand-thumbs-up{
	font-size: 22px;
    line-height: 22px;
}
/*-------------[도서등록/수정]-------------*/
.form-select{
	width:120px;
	float:left;
}
.form-control{
	width:400px;
}
.input-group-text{
	height:40px;
}
