@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300&display=swap');
  
/* 전체 레이아웃 */
*{ font-family:'Noto Sans KR', sans-serif; }

body{ width:80%; margin:0 auto; }
a:link{ text-decoration:none; color:#000000; }
a:visited{ text-decoration:none; color:#000000; }
a:hover{ text-decoration:none; color:#6C6C6C; }

/* 페이지 레이아웃 */
.page-main{ margin:0 auto; min-height:650px; }
.content-main{ padding:10px 20px; clear:both; }

/* 메뉴 */
#main_logo{ float:left; padding-left:10px; text-align:center; }
#logo{ text-align:center; vertical-align:top; float:left; }
#main_menu{ overflow:hidden; padding-top:15px; }
.menu-category li{ height:60px; font-size:20px; margin:50px 20px 30px 20px; text-align:center; font-weight:bold; float:left; }
.menu-detail{ width:120px; height:20px; padding:0 5px 0 5px; text-align:center; display:inline-block; }
/*.menu-login li{ float:right; padding-right:10px; }*/
ul{ list-style:none; }

/* 공통 정렬 */
.align-center{ text-align:center; }
.align-right{ text-align:right; }
.my-photo{ object-fit:cover; object-position:top; border-radius:50%; }

/* 장바구니 */
.book-choice{ width:75%; float:left; }
.member-info{ width:65%; height:50px; background:rgba(108, 117, 125, .1); display:flex; align-items:center; margin:10px 0 10px 100px; }
.member-info img{ width:3%; margin:10px; }
.cartlist-empty{ width:65%; margin-left:100px; text-align:center; }
.check-all{ margin:30px 0 0 100px; }
.cart-table{ width:65%; margin:30px 0 0 100px; float:left; }

.list-group-item ul{ display:flex; align-items:center; flex-wrap:wrap; }
.list-group-item li{ float:left; margin-right:20px; height:auto; }
.cart-check{ width:10px; }
.cart-bookimg{ width:110px; }
.cart-booktitle{ width:350px; }
.cart-bookprice{ width:100px; }
.cart-orderquantity{ width:150px; margin-top:15px; }
.cart-deletebtn{ width:50px; }

.book-buy{ float:left; width:20%; margin:30px 0 0 30px; background:rgba(108, 117, 125, .1); display:flex; justify-content:center; }
.book-buy-list{ width:80%; border:none; margin:20px; }
.buy-btn{ clear:both; }