@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300&display=swap');
  
/* 전체 레이아웃 */
*{ font-family:'Noto Sans KR', sans-serif; }

body{ width:80%; margin:0 auto; }
a:link{ text-decoration:none; color:#000000; }
a:visited{ text-decoration:none; color:#000000; }
a:hover{ text-decoration:none; color:#6C6C6C; }

/* 페이지 레이아웃 */
.page-main{ margin:0 auto; min-height:650px; }
.content-main{ padding:10px 20px; clear:both; }
textarea{ resize: none; }
#cart_order{ width:100%; margin:0 auto; border:none; padding:0; }
#order_modify{ width:100%; margin:0 auto; border:none; padding:0; }

/* 공통 정렬 */
.align-center{ text-align:center; }
.align-right{ text-align:right; }
.my-photo{ object-fit:cover; object-position:top; border-radius:50%; }
.start{ text-align:center; margin:50px 0; }

.rounded{ border-radius:5px; }

/* 장바구니 */
#cart_order{ font-weight:bold; }

.result-display{ width:80%; margin:0 auto; text-align:center; }

.book-choice{ width:75%; float:left; }
.member-info{ width:65%; height:50px; background:rgba(5, 59, 68, .1); display:flex; align-items:center; margin:10px 0 10px 100px; }
.member-info img{ width:3%; margin:10px; }
.member-info h5{ margin:10px; }

.check-all{ margin:30px 0 0 100px; }
.delete-all{ margin:30px 0 0 100px; }
.cart-table{ width:65%; margin:30px 0 0 100px; float:left; }
.order-table{ width:90%; margin:30px 5%; float:left; }

.list-group-item ul{ display:flex; align-items:center; flex-wrap:wrap; }
.list-group-item li{ float:left; margin-right:20px; height:auto; }
.cart-check{ width:10px; }
.cart-bookimg{ width:110px; }
.cart-booktitle{ width:300px; }
.cart-bookprice{ width:100px; }
.cart-orderquantity{ width:150px; margin-top:15px; }
.cart-deletebtn{ width:50px; margin:0 auto; }
.total_price{ width:50px; }

.goto-buy{ float:left; width:20%; margin:30px 0 0 30px; display:flex; justify-content:center; }
.goto-buy-list{ clear:both; width:100%; font-weight:bold; }
.goto-btn{ width:300px; }

/* 주문 */
.orderinfo-left{ width:50%; clear:both; float:left; margin:0 auto; }
.book-info{ float:left; width:90%; margin:0 5%; }
.book-info td{ vertical-align:middle; }
.mem-info{ clear:both; float:left; width:90%; margin-top:0 5%; }
.member-info p{ margin:auto 0; }

.orderinfo-right{ width:50%; float:left; margin:0 auto; }
.delivery-info{ float:left; width:90%; margin-top:5%; margin-bottom:5%; }
.error{ color:red; margin-top:10px; }

.payment-info{ width:90%; margin:5%; clear:both; }
.end-buy{ width:90%; margin:5%; text-align:center; }
.endbuy{ width:100%; }

/* [사용자]주문상세 */
.wrap-detail{ clear:both; margin:0 5%; width:90%; }

.orderdetail_left{ width:50%; clear:both; float:left; margin:0 auto; }
.book-detail{ width:90%; float:left; margin:0 5%; }

.orderdetail_right{ width:50%; float:left; margin:0 auto; }
.user-delivery{ width:90%; margin:0 5%; }
.delivery-status{ margin:3% 0; }

.table-left{ width:50%; }
.table-right{ width:50%; }
.title_image{ clear:both; width:50%; float:left; }

.delivery-modify{ width:90%; float:left; margin:0 5%; }

.detail-margin{ margin-top:100px; }
.payment-total{ clear:both; float:left; }
/* .order-payment{ width:80%;  }
.order-total{ width:80%; } */

.order-detail{ width:60%; margin:0 auto; }
.buttons{ width:90%; margin:0 120px; }
.buttons input{ width:100px; }
#move_li{ margin-top:15px; }

#delivery_info{ margin-bottom:15px; }