@charset "UTF-8";

/* 담소마당(chat) */
.chat-left{ width:35%; float:left;}
.chat-right{ width:60%; float:right; padding:10px; justify-content:center; }

.chatlist{ width:700px; }
.chatlist-img{ float:left; width:30%; }
.chatlist-img img{ width:100px; height:100px; }
.chatlist-title{ float:left; width:65%; margin:10px 0; }
.chatlist-btn{ float:left; width:65%; }

.make-chat{ margin:auto; }
#write_form{ border:none; background:rgba(108, 117, 125, .1); }

.chatRoom{ width:700px; margin:auto; }
#chat_title{ font-weight:bold; font-size:1.5em; margin-left:10px; }
.chat-photo{ object-fit:cover; object-position:top; border-radius:50%; }

.top-bar{
	background:rgba(108, 117, 125, .1); width:100%; height:50px; margin:10px 0;
	display: flex; align-items: center; border-radius: 10px 10px 0 0;
}

.chat-message-group .chat-thumb{ float: left; width: 10%; }
.chat-message-group .chat-messages{ float: left; width: 90%; margin-bottom: 20px; }
.chat-message-group .message{
	float: left; padding: 10px; background:rgba(108, 117, 125, .1);
	font-size: 13px; border-radius: 5px; margin-bottom: 3px;
}
.chat-messages .from{ float: left; display: block; width: 100%; text-align: left; font-size: 11px; }

.writer-user{ margin-right:10px; }
.writer-user .chat-messages{ float: right; width: 100%; }
.writer-user .chat-messages .message{ float: right; background: #6c757d; color: #FFF; }
.writer-user .chat-messages .from{ float: left; display: block; width: 100%; text-align: right; }

.bottom{ margin:0 auto; }
.chat-input{ width:100%; }
.chat-input textarea{ width:700px; border: none; resize: none; margin-right:10px; }
.write-chat{ border:none; margin:20px auto; display:flex; align-items:center; }

/* 스크롤바 */
.scrollBar::-webkit-scrollbar { width:10px;  /* 스크롤바의 너비 */ }
.scrollBar::-webkit-scrollbar-thumb { height:30%; /* 스크롤바의 길이 */ background:#6c757d; /* 스크롤바의 색상 */ border-radius: 10px; }
.scrollBar::-webkit-scrollbar-track { background:rgba(108, 117, 125, .1);  /*스크롤바 뒷 배경 색상*/ }