@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300&display=swap');


/*----------공통*/
.page-main{
	clear:both!important;
	width:100%;
	margin:auto;
}
/*검색창*/
.form-select{
	margin:5px 10px 0;
	padding:.375rem 2.25rem .375rem 2rem;
	width:120px;
}
#search_form{
	margin-bottom:30px;
	border:none;
	text-align:center;
	width:40% !important;
	margin-left:30%;
	
}

#search_form>*{
	display:flex;
}

.me-2{
	margin-left:0 !important;
}


h2{
	font-weight:bold;
	margin-top:40px;

}


/*----------intro*/
#intro_car > *{
	height:700px;
	width:100%;
	top:150px;
}
.carousel-item{
	position:relative; 
}
.carousel-caption1{
	position:absolute; 
	left:30%; 
	top:40%;
	color:white;
	font-size:20px; 
	text-align: center;
}
.carousel-caption2{
	position:absolute; 
	left:35%; 
	top:33%;
	color:white;
	font-size:20px; 
	text-align: center;
}
.intromain > img{
	margin-top:5%;
	height:800px;
	width:100%;
}

.intro_logo{
	text-align:center;
	margin-bottom:120px;
	margin-top:200px;
}
.intro_btn{
	display:flex;
	justify-content:space-between;
}
.intro_btn_inner > div > img{
	width:500px;
	height: 600px;
	flex-grow:1;
	/* -webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out; */
}
.intro_btn_inner{
	border-style:none;
	
	 width: 100%;
 	 height: 100%;
 	 text-align: center;
  	position: relative;
  	z-index: 1;
}
.intro_btn_inner:hover{
	/* -webkit-filter: grayscale(100%);
	filter: grayscale(100%); */
}
 .intro_btn_inner > div{
 	display:flex;
 	flex-direction:column;
}
.intro_btn_inner > div > span{
 	position:absolute; 
 	color:white;	

} 
.intro_btn_inner > div > span:nth-child(2){
	margin-top:420px;
	margin-left:180px;
	font-size:35px;
	text-shadow: 4px 2px 2px gray;

	
}
.intro_btn_inner > div > span:last-child{
	margin-top:500px;
	/* margin-left:220px; */
	border: 0.5px solid white;
	border-spacing:10px;
	border-collapse:separate;
	font-size:20px;
	width:100px;
}

/*req list*/

td{
	vertical-align:middle;
}
/*req detail*/
.detailtitle{
	margin-bottom:10;
	margin-top:5%;	
}
.detail_head1{
	float:left;
	display:inline;
	font-size:20px;
	font-weight:800;
}

.detail_head2{
	float:right;
	display:inline;
	font-size:20px;
	margin-right:10%;
	
}
.detail{
		margin-left:10%;
}
.detailmain{
	
/* 	background-color:#26454a; */
	display:block;
	height:60px;
	max-width:80%;
	padding-top:10px;
	padding-left:80px;
	border-top:1px black solid;
	border-bottom:1px black solid;
	margin-top:30px;	
	margin-botttom:10%;

	
}

.detail_main{
	clear:both;
}
.detail_main > ul {
	display:flex;
}
.detail_main > ul >li {
	margin-right:10%;
}

/* .detail_main > ul > li {
	text-align:left;
}

.detail_main > ul > li:first-child{
	font-weight:700;
	margin-left:50px;
	width: 100px;
}
.detail_main > ul > li:last-child{
	margin-left:150px;
} */
.detail_fav{
	text-align:center;
	margin-top:50px;
	margin-bottom:20px;
}
.readybtn{
	background-color:white;
	border:1px solid gray;
	width:80px;
	height:30px;
	margin-left:25%;
	margin-bottom:0;
}
.donebtn{
	background-color:gray;
	border:1px solid black;
	width:80px;
	height:30px;
	margin-left:25%;
	margin-bottom:0;
	color:white;
}
.reqbtn{
	text-align:center;
}
/* .reqbtn:active, req_btn:focus{
	outline:none !important; 
	box-shadow:none !important;
} */


/*req modify*/

form{
	margin-top:30px;
	border:none;
	width:100% !important;
	margin-right:0 !important;
}
.col-sm-10{
	border-style: none;
}
#modify_form > ul >li {
	
	display:flex;
	flex-wrap:wrap;
}

#modify_form > ul >li >label {
	margin:10px;
	
	/* margin-left:10%; */
}
#modify_form{
	margin-left:0;
	margin-top:0; 
	text-align:center;
}

#write_form > ul >li {
	
	display:flex;
	flex-wrap:wrap; 
}

#write_form > ul >li >label {
	margin:10px;
	
	/* margin-left:10%; */
}
#write_form{
	margin-left:0;
	margin-top:80px; 
	text-align:center;
}
.form-control{
	width:60%!important;
	margin-left:10%;
}
.reqformbtn {
	margin-top:100px;
	text-align:center;
	
}

.reqformbtn > button{
	margin-top:1%;
	margin-right:10px;
}












