@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans+KR:wght@300&display=swap');


/*----------공통*/

/*검색창*/
.form-select{
	margin:5px 10px 0;
	padding:.375rem 2.25rem .375rem 2rem;
	width:120px;
}
#search_form{
	margin-bottom:30px;
	border:none;
	width:50%;
	
}

#search_form>*{
	display:flex;
}

h2{
	font-weight:bold;

}


/*----------intro*/
#intro_car > *{
	height:700px;
	width:100%;
	top:150px;
}
.carousel-item{
	position:relative; 
}
.carousel-caption1{
	position:absolute; 
	left:30%; 
	top:40%;
	color:white;
	font-size:20px; 
	text-align: center;
}
.carousel-caption2{
	position:absolute; 
	left:35%; 
	top:33%;
	color:white;
	font-size:20px; 
	text-align: center;
}


.intro_logo{
	text-align:center;
	margin-bottom:120px;
	margin-top:200px;
}
.intro_btn{
	display:flex;
	justify-content:space-between;
}
.intro_btn_inner > div > img{
	width:500px;
	height: 600px;
	flex-grow:1;	
}
.intro_btn_inner{
	border-style:none;
}
 .intro_btn_inner > div{
 	display:flex;
 	flex-direction:column;
}
.intro_btn_inner > div > span{
 	position:absolute; 
 	color:white;	

} 
.intro_btn_inner > div > span:nth-child(2){
	margin-top:420px;
	margin-left:180px;
	font-size:35px;
	text-shadow: 4px 2px 2px gray;

	
}
.intro_btn_inner > div > span:last-child{
	margin-top:500px;
	margin-left:230px;
	border: 0.5px solid white;
	border-spacing:10px;
	border-collapse:separate;
	font-size:20px;
}

/*req list*/

td{
	vertical-align:middle;
}
/*req detail*/
h2{
	display:inline-block;
	text-align:left;
	height:0px;	
	margin-top:60px;
	font-weight:100px;
	font-size:40px;
}
header{
	display:flex;
	background-color:#f8f9fa;
	height:60px;
	max-width:100%;
	padding-top:10px;
	padding-left:80px;
	justify-content:space-between;
	border-top:1px rgb(207, 207, 212) solid;
	border-bottom:1px rgb(207, 207, 212) solid;
	margin-top:30px;	
}
footer{
	margin-top:50px;
}
.detail_head{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap; 
	margin-right:50px;
	
}

.detail_head1{
	font-weight:900;
	font-size:25px;
	display:inline;
}
.detail_heade2{
	font-weight:700;
	display:inline;
	padding-top:5px;
	font-size:20px;
}

article > * {
	margin-top:20px;
	font-size:20px;	
}

article ul{
	display: flex;
}
.detail_main > ul > li {
	text-align:left;
}

.detail_main > ul > li:first-child{
	font-weight:700;
	margin-left:50px;
	width: 100px;
}
.detail_main > ul > li:last-child{
	margin-left:150px;
}
.detail_fav{
	text-align:center;
	margin-top:50px;
	margin-bottom:20px;
}
.readybtn{
	background-color:white;
	border-color:rgb(207, 207, 212);
	width:80px;
}


/*req modify*/
form{
	margin-top:30px;
	border:none;
	width:100%;
}
.col-sm-10{
	border-style: none;
}
#modify_form > ul >li {
	
	display:flex;
	flex-wrap:wrap;
}

#modify_form > ul >li >label {
	margin-left:50px;
}

